
ssl/

ff.sh

.idea/
.idea/*

.DS_Store

.vscode/

*.swp
*.save

lib/
lib/*

*.py[cod]
*.pyc
*.py~

bin/
bin/*

crypt_key/
lic/

share/
share/*

local/
local/*

include/
include/*

venv
env/

currentData/

backend/kafka-persistence/
backend/db/
nav_input/
nav_output/
# pyinstaller build
build/
dist/
manage.spec
websocket.spec
rfid_reader.spec

currentData/nav_input/
currentData/nav_output/


# libraries config files
backend/.python-version

# Vscode container
.devcontainer/
local.env